* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A1E86;
}

.hero-image {
    background-image: url("./images/champions-logo.png");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.hero-text {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
}

.topic-section-title {
    font-family: 'Comic Neue', sans-serif; 
    font-size: 60px;
    width: 100%;                     
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #F7D523;
    background-color: #275AA5;
    text-decoration: none;
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 187px;
}

.topic-section-letter {
    font-family: 'Comic Neue', sans-serif; 
    font-size: 80px;
    width: 100%;                     
    color: #F7D523;
    padding: 0;
}

.topic-section-click {
    font-family: 'Comic Neue', sans-serif; 
    font-size: 25px;                   
    text-align: center;
    color: #F7D523;
    margin-top: 10px;
}

/* Layout Grids */
.one-column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    width: 80%;
    margin: 40px auto;
}

.info {
    color: #F7D523;
    background-color: #275AA5;
    border-radius: 16px;
    padding: 40px;           
    font-size: 40px;          
    line-height: 1.6;            
    font-family: 'Comic Neue', sans-serif;
    text-align: center;
    padding-top: 60px;
}

.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;           
    width: 95%;             
    margin: 40px auto 50px auto;
}

.card {
    background-color: #275AA5;
    border-radius: 16px;
    overflow: hidden;         
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    height: 350px;         
    object-fit: cover;
    border-radius: 0;         
    display: block;
}

.card-text {
    text-align: center;
    color: #F7D523;
    font-weight: bold;
    padding: 12px 10px;       
    margin: 0;
}


.pokemon-image{
    border-radius: 16px;
}